{% if section.settings.gwp_trigger != 0 %}

  <div class="gwp-container" id="gwp-container" style="display: none;">
    <div class="gwp-content">
      {% assign gift_product = all_products[section.settings.gwp_item] %}
      {% assign gift_variant = gift_product.first_available_variant %}

      <div class="gwp-header">
        <span class="gwp-title">
          <p>{{ section.settings.gift_product.title }}</p>
        </span>
      </div>

      <div class="gwp-gift-details">
        {% if gift_product.featured_image %}
          <div class="gwp-image">
            <img loading="lazy" 
                 class="gwp-gift-img" 
                 src="{{ gift_product.featured_image | image_url: width: 80 }}" 
                 alt="{{ gift_product.title }}"
                 width="80"
                 height="auto">
          </div>
        {% endif %}
        
        <div class="gwp-info">
          {% if section.settings.pDetails != blank %}
            <p class="gwp-product-title">{{ gift_product.title }}</p>
            <div class="gwp-pricing">
              <span class="gwp-strike">{{ gift_variant.price | money }}</span>
              <span class="gwp-free">FREE</span>
            </div>
          {% endif %}
          
          {% if section.settings.popup_description != blank %}
            <p class="gwp-note">{{ section.settings.popup_description }}</p>
          {% endif %}
        </div>
      </div>

      <form class="gwp-form" method="post" action="/cart/add">
        <input name="id" value="{{ section.settings.variantId | default: gift_variant.id }}" type="hidden">
        {% if section.settings.confetti %}
          <input id="gwp-button"
                 onclick="confetti({zIndex:99999});this.disabled = true; this.form.submit();"
                 class="gwp-button"
                 name="add"
                 value="{{ section.settings.button_text }}"
                 type="submit">
        {% else %}
          <input id="gwp-button"
                 onclick="this.disabled = true; this.form.submit();"
                 class="gwp-button"
                 name="add"
                 value="{{ section.settings.button_text }}"
                 type="submit">
        {% endif %}
      </form>
    </div>
  </div>
  
{% endif %}

{% schema %}
{
  "name": "Gift with Purchase",
  "tag": "section",
  "class": "gwp-section",
  "settings": [
    {
      "type": "header",
      "content": "GWP Item Trigger"
    },
    {
      "type": "range",
      "id": "gwp_trigger",
      "min": 0,
      "max": 5000,
      "step": 50,
      "unit": "₱",
      "label": "Cart Value Trigger",
      "default": 0
    },
    {
      "type": "text",
      "id": "gwp_product_tag",
      "label": "GWP Product Tag",
      "info": "If set, only products with this tag will trigger the popup."
    },
    {
      "type": "header",
      "content": "GWP Product"
    },
    {
      "type": "product",
      "id": "gwp_item",
      "label": "GWP Item"
    },
    {
      "type": "header",
      "content": "GWP Content"
    },
    {
      "type": "text",
      "id": "gwp_discount_code",
      "label": "GWP Discount Code",
      "default": "FREEGIFT"
    },
      {
      "type": "text",
      "id": "gwp_notes",
      "label": "GWP Notes",
      "default": "*Discount applied at checkout"
    }
  ]
}
{% endschema %}